/* CSS Custom Properties */

:root {
    --clr-main-400: #56a8f5;
    --clr-base-200: #FDF7EB;

    --ff-headings-Montserrat: 'Montserrat', sans-serif;
    --ff-body-Outfit: 'Outfit', sans-serif;

    --fw-Light-300: 300;
    --fw-Regular-400: 400;
    --fw-Medium-500: 500;
    --fw-Bold-700: 700;
}

/* CSS reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html, body {
    height: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* General styling */

body {
    background-color: var(--clr-main-400);
    font-size: 16px;
    font-family: var(--ff-headings-Montserrat);
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

.sec-padd {
    padding: 2em 0;
}

.m-clr {
    background-color: #6AAFF5;
    border-radius: 30px 30px 0 0;
}

/* id selectors */


/* class selectors */



/* Navbar Section */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 0;
    list-style: none;
}

.nav-list {
    display: flex;
    gap: 1em;
    list-style: none;
}

.nav-link {
    color: var(--clr-base-200);
    text-decoration: none;
    margin-left: 1em;
}

.nav-link--btn {
    background-color: var(--clr-base-200);
    border-radius: 15px;
    color: var(--clr-main-400);
    font-size: 15px;
    font-weight: var(--fw-Bold-700);
    padding: 0.5em 1em;
}

/* Hero section */

.hero__title {
    font-size: 3rem;
    font-family: var(--ff-body-Outfit);
}

.hero__text {
    color: var(--clr-base-200);
}

/* media query for large creen size*/