/* CSS Custom Properties */

:root {
    --clr-main-400: #56a8f5;
    --clr-base-200: #FDF7EB;

    --ff-headings-Montserrat: 'Montserrat', sans-serif;
    --ff-body-Outfit: 'Outfit', sans-serif;

    --fw-Light-300: 300;
    --fw-Regular-400: 400;
    --fw-Medium-500: 500;
    --fw-Bold-700: 700;
}

/* CSS reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
}

html, body {
    height: 100%;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* General styling */

body {
    background-color: var(--clr-main-400);
    font-size: 16px;
    font-family: var(--ff-headings-Montserrat);
    line-height: 1.5;
}